@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css?family=Bonbon");
@import url("https://fonts.googleapis.com/css?family=Slackey");
@import url("https://fonts.googleapis.com/css?family=Fascinate Inline");
#gameMainPage
{ 
	background-image: url("assets\\imgs\\gamebackgnd.jpg");	
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size:100vw 100%;
    background-position:absolute;
    margin:0;
    cursor: url("assets\\cursors\\scope.cur"),default;
    /* https://www.youtube.com/watch?v=n-AuSopUl6s     
    due to this tutorial png ,jpg cursors arenot supported */

}
body#gameOver
{   
    background-image: url("assets\\imgs\\gameover.jpg");	
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size:100vw auto;
    cursor: default;
}
#userInfoStyling {
    position: static;
    overflow: hidden;
    /* Margins */
    margin: 0px; 
    display: none;
    /* width of box*/
    height: auto;
    width: 100%;
    /*styling box*/
    background-color:#151636;
    border:#151636;
    opacity: 1;
    /* styling font inside*/
    /* font-family: 'Times';  */
    font-family:'Slackey'; 
    font-size: 30px;
    font-weight: bold;
    color:aliceblue;
    opacity: .7;
}
.userdata
{
    position:relative;
    float:left;
    width:25%;
 }
.exit_btn
{
    position: absolute;;
    right: 0;
    font-size: 25px;
    font-family:'Slackey'; 
    color:aliceblue;
    background-color:#851717;
    border:#851717;
    }

    #prev,#next
    {height:30px;
     width:30px;}
    #pa1
    {
        font-family:'Slackey'; 
        font-size: 24px;
        font-weight: bold;
        color:rgb(11, 42, 68);}
    #storyimg
    {width:75%;
    height:300px;
    }